<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JUST Sign in</title>
    <link rel="stylesheet" href="/css/login-styles.css">
</head>
<body>
    <div class="site">
        
        <header class="site-header text-align">
            <a class="link-nav-icon" href="#">
                <img class="image image-size-reg" src="/images/logo-just-watch-together.png" alt="logo">
            </a>
        </header>
        
        <main class="site-content">
            <div class="center-section">
                <div class="a-box">
                    <div class="a-box-inner">
                        <h1 class="h1-margin width">Sign in</h1>
                        <div class="a-spacing-base">
                            <label for="ap_email">Email</label>
                            <input type="email" id="ap_email" placeholder="person@example.com" name="email" class="a-input-text a-span12" aria-required="true">
                        </div>
                        <div class="a-spacing-base">
                            <label for="ap_password">Password</label>
                            <input type="password" id="ap_password" placeholder="at least 8 characters" name="password" class="a-input-text a-span12" aria-required="true">
                        </div>
                        <div class="a-spacing-extra-large">
                            <span class="a-button a-button-span12 a-button-primary">
                                <button class="a-button-inner a-button-text text-color">Sign in</button>
                            </span>
                        </div>
                        <label>
                            <input type="checkbox" name="rememberMe" value="true">
                            <span class="a-label a-checkbox-label">
                                Keep me signed in.
                            </span>
                        </label>
                        <div class="a-divider-inner"></div>
                        <div class="a-row">New to JUST?
                            <div class="b-spacing-extra-large">
                            <span class="a-button a-button-span12 b-button-primary">
                                <button class="a-button-inner a-button-text text-color">Create your JUST account</button>
                            </span>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        <footer class="site-footer">
            
        </footer>
        
    </div>
</body>
</html>