<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JUST Registration</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="site">
        
        <header class="site-header text-align">
            <a class="link-nav-icon" href="#">
                <img class="image image-size-reg" src="/images/logo-just-watch-together.png" alt="logo">
            </a>
        </header>
        
        <main class="site-content">
            <div class="center-section">
                <div class="a-box">
                    <div class="a-box-inner">
                        <h1 class="h1-margin width">Create account</h1>
                        <div class="a-spacing-base">
                            <label for="ap_customer_name">Your name</label>
                            <input type="text" id="ap_customer_name" placeholder="First and last name" name="customerName" class="a-input-text a-span12" aria-required="true">
                        </div>
                        <div class="a-spacing-base">
                            <label for="ap_email">Email</label>
                            <input type="email" id="ap_email" placeholder="person@example.com" name="email" class="a-input-text a-span12" aria-required="true">
                        </div>
                        <div class="a-spacing-base">
                            <label for="ap_password">Password</label>
                            <input type="password" id="ap_password" placeholder="at least 8 characters" name="password" class="a-input-text a-span12" aria-required="true">
                        </div>
                        <div class="a-spacing-base">
                            <label for="ap_password_check">Re-enter password</label>
                            <input type="password" id="ap_password_check" name="passwordCheck" class="a-input-text a-span12" aria-required="true">
                        </div>
                        <div class="a-spacing-extra-large">
                            <span class="a-button a-button-span12 a-button-primary">
                                <button class="a-button-inner a-button-text text-color">Create your JUST account</button>
                            </span>
                        </div>
                        <div class="a-divider-inner"></div>
                        <div class="a-row">Already have an account?
                            <a href="#" class="a-link-emphasis">Sign in</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        <footer class="site-footer">
            
        </footer>
        
    </div>
</body>
</html>